* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
    margin: 0;
    display: flex;
    min-height: 100vh;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    background-color: #fff;
    border-right: 1px solid #ccc;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 60px;
}

a {
    color: #000;
    text-decoration: none;
}

header {
    background-color: #fff;
    padding: 0 10px;
}

header ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

header li {
    border-bottom: 2px solid #fff;
}

header li:hover {
    border-bottom: 2px solid #ccc;
}

header li.active {
    border-bottom: 2px solid #000;
}

header li a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

table {
    margin: 10px;
}

table th {
    text-align: left;
    padding: 10px;
    background-color: #ccc;
    border-radius: 5px;
}

table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.preheader{
    background-color: #ccc;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.area {
    display: flex;
    flex: 1;
}

.area .leftside {
    flex: 1;
    border-right: 1px solid #ccc;
}

.area .rightside {
    margin: 0 auto
}

.area .rightside iframe {
    width: 300px;
    min-height: calc(100% - 40px);
    height: 550px;
    border: 10px solid #000;
    border-radius: 20px;
    margin: 20px;
}

.bigbutton {
    display: block;
    margin: 20px;
    padding: 15px;
    background-color: #ccc;
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
}

.bigbutton:hover {
    background-color: #aaa;
}

#links {
    padding: 0;
    list-style: none;
    margin: 20px;
}

.link--item {
    display: flex;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    box-shadow: 0px 2px 2px #ccc;
}

.link--item-order {
    cursor: move;
    margin-right: 10px;
}

.link--item-info {
    flex: 1;
}

.link--item-title {
    font-weight: bold;
}

.link--item-buttons a:hover{
    text-decoration: underline;
}

form {
    margin: 20px;
}

form label {
    display: block;
    margin-bottom: 20px;
}

form input, form select {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
    padding: 0 10px;
}

form input[type=submit] {
    font-weight: bold;
    background-color: #3f7125;
    border: 0;
    color: #fff;
    cursor: pointer;
}

h3 {
    margin-left: 20px;
}
